Source: ~#PKGNAME#~
Maintainer: gogenexampleowner <gogenexampleemail>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9), dh-golang
Standards-Version: 3.9.7
Homepage: gogenexampleprojectlink
Vcs-Git: gogenexamplevcsgit

Package: ~#PKGNAME#~
Provides: gogenexample
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: gogenexampleshortdesc
 gogenexample : gogenexampleshortdesc
