Source: ~#PKGNAME#~
Maintainer: nuragoexampleowner <nuragoexampleemail>
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13), dh-golang
Standards-Version: 4.7.2
Homepage: nuragoexampleprojectlink
Vcs-Git: nuragoexamplevcsgit
Vcs-Browser: nuragoexamplevcsgit

Package: ~#PKGNAME#~
Provides: nuragoexample
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: nuragoexampleshortdesc
 nuragoexample : nuragoexampleshortdesc
