[Unit]
Description=nuragoexample service
Documentation=https://github.com/tecnickcom/nurago
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nuragoexample
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/nuragoexample.log
StandardError=append:/var/log/nuragoexample.log

# Security hardening options
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
