services:
  gogenexample_integration:
    container_name: gogenexample_integration
    build:
      context: .
      dockerfile: test.integration.Dockerfile
    environment:
      DEPLOY_ENV: "int"
    depends_on:
      - gogenexample
      - gogenexample_smocker_ipify
      - gogenexample_mysql
      - gogenexample_postgres
    volumes:
      - ./target/binutil/dockerize:/usr/bin/dockerize
      - ./target/report/:/workspace/target/report/

  gogenexample:
    image: gogenexampleowner/gogenexample
    container_name: gogenexample
    restart: always
    env_file:
      - target/gogenexample.integration.env
    entrypoint: [
        "/usr/bin/dockerize",
        "-wait", "tcp://gogenexample_mysql:3306",
        "-wait", "tcp://gogenexample_postgres:5432",
        "-wait", "tcp://gogenexample_smocker_ipify:8081",
        "/usr/bin/gogenexample"
    ]
    volumes:
      - ./target/binutil/dockerize:/usr/bin/dockerize

  gogenexample_smocker_ipify:
    container_name: gogenexample_smocker_ipify
    image: thiht/smocker

  gogenexample_mysql:
    container_name: gogenexample_mysql
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gogenexample
    ports:
      - "9306:3306"
    volumes:
      - ./resources/db/mysql/create.sql:/docker-entrypoint-initdb.d/01-create.sql
      - ./resources/db/mysql/users.sql:/docker-entrypoint-initdb.d/02-users.sql
      - ./resources/db/mysql/schema.sql:/docker-entrypoint-initdb.d/03-schema.sql
      - ./resources/db/mysql/int/data.sql:/docker-entrypoint-initdb.d/04-data.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  gogenexample_postgres:
    container_name: gogenexample_postgres
    image: postgres:18
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: gogenexample
    ports:
      - "9432:5432"
    volumes:
      - ./resources/db/postgres/users.sql:/docker-entrypoint-initdb.d/01-users.sql
      - ./resources/db/postgres/schema.sql:/docker-entrypoint-initdb.d/02-schema.sql
      - ./resources/db/postgres/int/data.sql:/docker-entrypoint-initdb.d/03-data.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -h localhost -p 5432"]
      interval: 10s
      timeout: 5s
      retries: 5
