services:
  gogenexample_integration:
    container_name: gogenexample_integration
    build:
      context: .
      dockerfile: test.integration.Dockerfile
    environment:
      DEPLOY_ENV: "int"
    depends_on:
      - gogenexample
      - gogenexample_smocker_ipify
    volumes:
      - ./target/binutil/dockerize:/usr/bin/dockerize
      - ./target/report/:/workspace/target/report/

  gogenexample:
    image: gogenexampleowner/gogenexample
    container_name: gogenexample
    restart: always
    env_file:
      - target/gogenexample.integration.env
    entrypoint: [
        "/usr/bin/dockerize",
        "-wait", "tcp://gogenexample_smocker_ipify:8081",
        "/usr/bin/gogenexample"
    ]
    volumes:
      - ./target/binutil/dockerize:/usr/bin/dockerize

  gogenexample_smocker_ipify:
    container_name: gogenexample_smocker_ipify
    image: thiht/smocker
